.main-brand{
    font-size: 60px;
    text-align: center;
    font-weight: normal;
    font-family: 'Crimson Text', serif;
    /*  using margin: 60px 0; replaces the need for margin-top
        and margin-bottom. This means top and bottom 60px, left
        and right. Another way of remembering it is the first slot,
        60px, is North/South and the second slot, 0, is West/East 0*/
    margin: 60px 0;
    /* margin-top: 60px;
    margin-bottom: 60px; */
}

.story-title{
    font-family: 'Crimson Text', serif;
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
    margin: 15px 0;
    text-align: center;
}

.story-text{
    line-height: 1.2;
    font-size: 18px;
}

.row{
    display: flex;
    align-items: stretch;
}

.story{
    border: 1px solid #333;
    padding: 5px;

}

.quarter{
    width: 25%;

}

.story-quarter-second{
    border: 1px solid #333;
    padding: 5px;
    width: 24.5%;
}

.half{
    width: 50%;
    
}

.story-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.three-quarter{
    width: 75%;
}

.nav-list{
    display:flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /* gets rid of bullets from list*/
    list-style: none;
}

.nav-item{
    width: 100%;
    /* flex: 1; tells each element to take up as much space as possible*/
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-size: 30px;
    color: #555;
    font-weight: bold;
    font-family: arial;
}

.nav-item a{
    text-decoration: none;
    color: #555;
}

.nav-item a:hover{
    text-decoration: underline;
}

/* below adds color to nav-item/nav-list*/
.nav-item:nth-child(1){
    background-color: #ffeaa7;
}

.nav-item:nth-child(2){
    background-color: #81ecec;
}

.nav-item:nth-child(3){
    background-color: #55efc4;
}

.nav-item:nth-child(4){
    background-color: #74b9ff;
}

.nav-item:nth-child(5){
    background-color: #a29bfe;
}